* {
  /* border: 1px green dotted; */
}
.layout {
  display: grid;
  grid-template-columns: max-content minmax(400px, 750px) 5rem;
  grid-template-rows: 4rem 1fr 5rem;
}

.header {
  background: lightblue;
  grid-area: 1 / 1 / 1 / -1;
}
.sidebar {
  background: #fdfdfd;
}
.sidebar2 {
  background: lightgrey;
}
.footer {
  background: lightgreen;
  grid-area: -2 / 1 / -1 / -1;
}
