* {
  /* border: 1px green dotted; */
}
.layout {
  display: grid;
  grid-template-columns: max-content minmax(400px, 750px) 5rem;
  grid-template-rows: auto 1fr;
}

.header {
  background: lightblue;
  padding: 0.5rem;
  grid-area: 1 / 1 / 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header * {
  margin: 0;
}
.sidebar {
  background: #fdfdfd;
}
.sidebar2 {
  background: lightgrey;
}
.footer {
  background: lightgreen;
  grid-area: -2 / 1 / -1 / -1;
}
.links {
  display: flex;
  justify-content: space-around;
}
.links a {
  color: white;
  margin: 0 5px;
}
.main {
  /* display: flex;
  justify-content: center; */
  height: 100vh;
}
